USE [master]
GO
/****** Object:  Database [cric_academy]    Script Date: 10/16/2018 07:15:57 PM ******/
CREATE DATABASE [cric_academy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cric_academy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\Backup\cric_academy.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cric_academy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\Backup\cric_academy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cric_academy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cric_academy]
GO
/****** Object:  Table [dbo].[PettyCashFund]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PettyCashFund](
	[petty_cash_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[entered_date] [datetime] NULL,
	[issued_amount] [decimal](18, 2) NULL,
	[narration] [nvarchar](150) NULL,
	[used_amount] [decimal](18, 2) NULL,
	[balance] [decimal](18, 2) NULL,
	[nep_entered_date] [nvarchar](50) NULL,
 CONSTRAINT [PK_PettyCashFund] PRIMARY KEY CLUSTERED 
(
	[petty_cash_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ranking]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ranking](
	[ranking_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[tournament_team_id] [decimal](18, 0) NULL,
	[matches_played] [int] NULL,
	[won] [int] NULL,
	[lost] [int] NULL,
	[draw] [int] NULL,
	[points] [int] NULL,
	[net_run_rate] [decimal](18, 3) NULL,
 CONSTRAINT [PK_ranking] PRIMARY KEY CLUSTERED 
(
	[ranking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[skill]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[skill_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_skill] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[skill_type]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_type](
	[skill_type_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[skill_type_name] [nvarchar](50) NULL,
	[skill_id] [decimal](18, 0) NULL,
 CONSTRAINT [PK_skill_type] PRIMARY KEY CLUSTERED 
(
	[skill_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[stock]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock](
	[stock_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[stock_name] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
	[qty] [decimal](18, 2) NULL,
 CONSTRAINT [PK_stock] PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[stock_manipulation]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_manipulation](
	[id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[stock_id] [decimal](18, 0) NULL,
	[qty] [decimal](18, 2) NULL,
	[manipulated_date] [datetime] NULL,
	[nep_date] [nvarchar](50) NULL,
	[manipulation_type] [int] NULL,
	[description] [nvarchar](100) NULL,
 CONSTRAINT [PK_stock_manipulation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[student]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[student_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[student_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[mobile_1] [nvarchar](50) NULL,
	[mobile_2] [nvarchar](50) NULL,
	[skill_id] [int] NULL,
	[skill_type_id] [int] NULL,
	[is_active] [bit] NULL,
	[occupation] [nvarchar](50) NULL,
	[entry_date] [datetime] NULL,
	[email] [nvarchar](50) NULL,
	[guardian_name] [nvarchar](50) NULL,
	[dob] [datetime] NULL,
	[nep_dob] [nvarchar](50) NULL,
	[image] [image] NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[student_scores]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_scores](
	[info_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[student_id] [decimal](18, 0) NULL,
	[no_of_matches] [int] NULL,
	[is_not_out] [bit] NULL,
	[balls_faced] [int] NULL,
	[runs_made] [int] NULL,
	[overs_bowled] [int] NULL,
	[balls_bowled] [int] NULL,
	[maidens_bowled] [int] NULL,
	[runs_conceeded] [int] NULL,
	[wickets] [int] NULL,
	[league_name] [nvarchar](100) NULL,
	[match_location] [nvarchar](100) NULL,
	[batting_postition] [int] NULL,
	[game_date] [datetime] NULL,
	[nep_game_date] [nvarchar](50) NULL,
 CONSTRAINT [PK_student_scores] PRIMARY KEY CLUSTERED 
(
	[info_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[team_match_detail]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[team_match_detail](
	[team_match_detail_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[tournament_team_id] [decimal](18, 0) NULL,
	[opposition_tournament_team_id] [decimal](18, 0) NULL,
	[match_date] [datetime] NULL,
	[nep_match_date] [varchar](50) NULL,
	[overs_bowled] [int] NULL,
	[wickets_taken] [int] NULL,
	[balls_bowled] [int] NULL,
	[overs_batted] [int] NULL,
	[runs_scored] [int] NULL,
	[runs_conceeded] [int] NULL,
	[wickets_lost] [int] NULL,
	[balls_batted] [int] NULL,
	[match_result] [varchar](50) NULL,
	[is_bowling_first] [bit] NULL,
	[is_toss_won] [bit] NULL,
 CONSTRAINT [PK_team_match_detail] PRIMARY KEY CLUSTERED 
(
	[team_match_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tournament]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tournament](
	[tournament_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[location] [nvarchar](100) NOT NULL,
	[start_date] [nvarchar](50) NOT NULL,
	[end_date] [nvarchar](50) NOT NULL,
	[eng_start_date] [datetime] NOT NULL,
	[eng_end_date] [datetime] NOT NULL,
	[first_price] [decimal](18, 2) NULL,
	[second_price] [decimal](18, 2) NULL,
	[overs] [decimal](18, 2) NULL,
 CONSTRAINT [PK_tournament] PRIMARY KEY CLUSTERED 
(
	[tournament_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tournament_team]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tournament_team](
	[tournament_team_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[place] [nvarchar](50) NULL,
	[tournament_id] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tournament_team] PRIMARY KEY CLUSTERED 
(
	[tournament_team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 10/16/2018 07:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PettyCashFund] ON 

INSERT [dbo].[PettyCashFund] ([petty_cash_id], [entered_date], [issued_amount], [narration], [used_amount], [balance], [nep_entered_date]) VALUES (CAST(1 AS Decimal(18, 0)), CAST(N'2018-03-27 12:43:44.000' AS DateTime), CAST(1200.00 AS Decimal(18, 2)), N'student fee', CAST(0.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), N'12-13-2074')
INSERT [dbo].[PettyCashFund] ([petty_cash_id], [entered_date], [issued_amount], [narration], [used_amount], [balance], [nep_entered_date]) VALUES (CAST(2 AS Decimal(18, 0)), CAST(N'2018-03-27 12:50:35.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'this is a test narration', CAST(1000.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), N'12-13-2074')
INSERT [dbo].[PettyCashFund] ([petty_cash_id], [entered_date], [issued_amount], [narration], [used_amount], [balance], [nep_entered_date]) VALUES (CAST(3 AS Decimal(18, 0)), CAST(N'2018-03-27 12:51:24.000' AS DateTime), CAST(2500.00 AS Decimal(18, 2)), N'student fee', CAST(0.00 AS Decimal(18, 2)), CAST(2700.00 AS Decimal(18, 2)), N'12-13-2074')
SET IDENTITY_INSERT [dbo].[PettyCashFund] OFF
SET IDENTITY_INSERT [dbo].[ranking] ON 

INSERT [dbo].[ranking] ([ranking_id], [tournament_team_id], [matches_played], [won], [lost], [draw], [points], [net_run_rate]) VALUES (CAST(3 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), 3, 2, 1, 0, 4, CAST(4.756 AS Decimal(18, 3)))
INSERT [dbo].[ranking] ([ranking_id], [tournament_team_id], [matches_played], [won], [lost], [draw], [points], [net_run_rate]) VALUES (CAST(4 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), 1, 0, 1, 0, 0, CAST(-4.756 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[ranking] OFF
SET IDENTITY_INSERT [dbo].[skill] ON 

INSERT [dbo].[skill] ([skill_id], [skill_name]) VALUES (CAST(1 AS Decimal(18, 0)), N'bowler')
INSERT [dbo].[skill] ([skill_id], [skill_name]) VALUES (CAST(2 AS Decimal(18, 0)), N'batsman')
INSERT [dbo].[skill] ([skill_id], [skill_name]) VALUES (CAST(4 AS Decimal(18, 0)), N'all rounder')
SET IDENTITY_INSERT [dbo].[skill] OFF
SET IDENTITY_INSERT [dbo].[skill_type] ON 

INSERT [dbo].[skill_type] ([skill_type_id], [skill_type_name], [skill_id]) VALUES (CAST(1 AS Decimal(18, 0)), N'left arm ', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[skill_type] ([skill_type_id], [skill_type_name], [skill_id]) VALUES (CAST(2 AS Decimal(18, 0)), N'right handed', CAST(2 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[skill_type] OFF
SET IDENTITY_INSERT [dbo].[stock] ON 

INSERT [dbo].[stock] ([stock_id], [stock_name], [description], [qty]) VALUES (CAST(1 AS Decimal(18, 0)), N'thigh pads', N'this is used to put in thigh', NULL)
INSERT [dbo].[stock] ([stock_id], [stock_name], [description], [qty]) VALUES (CAST(2 AS Decimal(18, 0)), N'leg guard', N'this is used in leg', CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[stock] OFF
SET IDENTITY_INSERT [dbo].[stock_manipulation] ON 

INSERT [dbo].[stock_manipulation] ([id], [stock_id], [qty], [manipulated_date], [nep_date], [manipulation_type], [description]) VALUES (CAST(1 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2018-03-31 21:15:49.000' AS DateTime), N'12-17-2074', 0, N'purchase')
INSERT [dbo].[stock_manipulation] ([id], [stock_id], [qty], [manipulated_date], [nep_date], [manipulation_type], [description]) VALUES (CAST(2 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2018-03-31 21:16:07.000' AS DateTime), N'12-17-2074', 1, N'')
INSERT [dbo].[stock_manipulation] ([id], [stock_id], [qty], [manipulated_date], [nep_date], [manipulation_type], [description]) VALUES (CAST(3 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2018-05-07 20:03:16.000' AS DateTime), N'01-24-2075', 0, N'this is a test purchase')
SET IDENTITY_INSERT [dbo].[stock_manipulation] OFF
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([student_id], [student_name], [address], [mobile_1], [mobile_2], [skill_id], [skill_type_id], [is_active], [occupation], [entry_date], [email], [guardian_name], [dob], [nep_dob], [image]) VALUES (CAST(3 AS Decimal(18, 0)), N'nabin dahal', N'btm', N'9816003056', N'', 2, 2, 1, N'farmer', CAST(N'2018-03-29 20:25:48.000' AS DateTime), N'test', N'testing dahal', CAST(N'1996-08-15 00:00:00.000' AS DateTime), N'04/31/2053', NULL)
SET IDENTITY_INSERT [dbo].[student] OFF
SET IDENTITY_INSERT [dbo].[student_scores] ON 

INSERT [dbo].[student_scores] ([info_id], [student_id], [no_of_matches], [is_not_out], [balls_faced], [runs_made], [overs_bowled], [balls_bowled], [maidens_bowled], [runs_conceeded], [wickets], [league_name], [match_location], [batting_postition], [game_date], [nep_game_date]) VALUES (CAST(1 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), 1, 0, 6, 10, 1, 5, 1, 2, 2, N'test competition', N'buttabari', 1, CAST(N'2018-07-31 00:00:00.000' AS DateTime), N'04/15/2075')
INSERT [dbo].[student_scores] ([info_id], [student_id], [no_of_matches], [is_not_out], [balls_faced], [runs_made], [overs_bowled], [balls_bowled], [maidens_bowled], [runs_conceeded], [wickets], [league_name], [match_location], [batting_postition], [game_date], [nep_game_date]) VALUES (CAST(2 AS Decimal(18, 0)), CAST(3 AS Decimal(18, 0)), 1, 1, 5, 12, 3, 2, 1, 10, 1, N'test competition', N'itahari', 5, CAST(N'2021-04-14 00:00:00.000' AS DateTime), N'01/01/2078')
SET IDENTITY_INSERT [dbo].[student_scores] OFF
SET IDENTITY_INSERT [dbo].[tournament] ON 

INSERT [dbo].[tournament] ([tournament_id], [name], [location], [start_date], [end_date], [eng_start_date], [eng_end_date], [first_price], [second_price], [overs]) VALUES (1, N'U-19 united cricket tournament', N'birtamode', N'06/20/2075', N'06/26/2075', CAST(N'2018-10-06 00:00:00.000' AS DateTime), CAST(N'2018-10-12 00:00:00.000' AS DateTime), CAST(20000.00 AS Decimal(18, 2)), CAST(15000.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tournament] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [full_name], [username], [password]) VALUES (CAST(1 AS Decimal(18, 0)), N'nabin dahal', N'admin', N'admin')
INSERT [dbo].[users] ([user_id], [full_name], [username], [password]) VALUES (CAST(2 AS Decimal(18, 0)), N'niroj dahal', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
